###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f5616f2879a18de6d00bf9a6bf8a87ea
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:admin@mariadb:3306/adventure?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
