# Project & hostname
PROJECTNAME=adventure
HOSTNAME=local.adventure

# IP apache
IP_APACHE=172.11.0.10

# User & group ID
UID=1000
GID=1000

# MariaDB
MYSQL_USER=admin
MYSQL_USER_PASSWORD=admin
MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=adventure

# Php-fpm
PHP_PORT=9000
PHP_APP_DIR=/var/www/html/public/

#Xdebug
XDEBUG_ENABLE=1
XDEBUG_HOST=172.17.0.1
XDEBUG_IDEKEY=PHPSTORM
XDEBUG_PORT=9000

# NGrok
NGROK_AUTH_TOKEN=xxxxx
NGROK_DOMAIN=xxxxx.ngrok.dev
