$primary: rgb(48,48,48);
$secondary: rgb(227, 227, 227);

$body-bg: rgb(241, 241, 241);
$card-bg: #fff;
$card-border-radius: 12px;

$border-color-translucent: rgba($primary, .175);

$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

$input-btn-font-size: 12px;
$btn-font-weight: 550;
